{{>layouts/header}}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">회원가입</h1>
            <br>
            <br>
            <br>
            <p class="lead text-muted">회원가입해서 당신의 식자재를 등록해보세요!</p>
        </div>
    </div>
    <button type="button" class="btn btn-outline-success" onclick="location.href='/view/join/reg'">회원가입</button>

</section>


{{>layouts/footer}}