{{>layouts/header}}

<br><br>
<div class="logofont">
    <img src="/images/로고.png" alt=""  style="margin: auto; display: block;" width="50%" height="50%">
</div>

<!--<span>
    <img src="images/main_img.png">
</span>
-->
<div id="info">
    <!--
<div class="info">
    <h3> 설명 </h3>
</div>
    -->
    <table align="center">
        <tr>
            <td><img src="images/main_img1.png" width=500 height=500> </td>
            <td><img src="images/main_img2.png" width=500 height=500> </td>
        </tr>
    </table>
</div>
{{>layouts/footer}}
<!--커뮤니티 :  게시판!

마이페이지 : 유통기한확인o , 구매내역 , 구매링크, 레시피 링크 , 목록삭제 기능o , 목록등록 기능.

레시피 : 등록된 식자재를 통해 레시피를 확인한다.-->