{{>layouts/header}}

<h2 id="new">레시피 상세보기</h2>
<hr>
<br><br>

<div class="container">
    <div class="row center-table">

        <div class="card" style="width: 100rem;">
            <div class="card-body text-center">
                <h3 class="card-title text-center">{{foodname}}</h3>
            </div>
            <p class="menuinfo text-center">
                {{Ingredient}}
                <br>
            </p>
            <!--레시피-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살1.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 1. {{infoList1}}
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살2.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 2. {{infoList2}}
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살3.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 3. {{infoList3}}
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살4.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 4. {{infoList4}}
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살5.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 5. {{infoList5}}
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살6.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 6. {{infoList6}}
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살7.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 7. {{infoList7}}
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살8.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 8. {{infoList8}}
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="/images/삼겹살9.jpg" alt="" style="width: 15rem width: 215px; height: 230px;"> &nbsp; 9. {{infoList9}}
                </li>
            </ul>
        </div>

    </div>
</div>

<!--
<h2>{{foodname}}</h2>
{{Ingredient}}
<h1><img src="/images/삼겹살1.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList1}}</h1>
<h1><img src="/images/삼겹살2.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList2}}</h1>
<h1><img src="/images/삼겹살3.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList3}}</h1>
<h1><img src="/images/삼겹살4.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList4}}</h1>
<h1><img src="/images/삼겹살5.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList5}}</h1>
<h1><img src="/images/삼겹살6.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList6}}</h1>
<h1><img src="/images/삼겹살7.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList7}}</h1>
<h1><img src="/images/삼겹살8.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList8}}</h1>
<h1><img src="/images/삼겹살9.jpg" alt="" style="width: 15rem width: 215px; height: 230px;">{{infoList9}}</h1>
-->


<br><br>

<div class="text-center">
    <a href="/Recipe">
        <button  type="submit" class="btn btn-sm btn-outline-primary btn-lg" style="font-size:12px;" >레시피 페이지로 가기</button>
    </a>
</div>

{{>layouts/footer}}